body {
    margin: 0;
    font-family: Arial;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1557804506-669a67965ba0');
    background-size: cover;
    background-position: center;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

.hero button {
    margin-top: 20px;
}

/* SECTION */
.section {
    padding: 70px 20px;
    text-align: center;
    background: #f9f9f9;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* CTA */
.cta {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
}

/* BUTTON */
button {
    padding: 12px 25px;
    border: none;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}